@import '@style/_variables.scss';

.error {
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.error_img {
  height: 30px;
}

.error_text {
  font-size: 14px;
}
