@import '@style/_variables.scss';
@import '@style/_mixins.scss';

.trips_catalog {
  display: flex;
  gap: 20px;

  .btn_container {
    height: $cardHight;
  }
}

.container {
  display: flex;
  gap: 20px;

  overflow: auto;

  @include scroll-bar;
}
