@import '@style/_variables.scss';

.container {
  position: relative;

  display: flex;
  align-items: center;
  gap: 20px;
}

.info {
  font-weight: 300;
}

.sort_btn {
  transform: rotate(180deg);
}
