// COLORS

$grayPrimary: rgba(242, 244, 248, 1);
$graySecondary: rgba(147, 147, 147, 1);

$bluePrimary: rgba(17, 14, 59, 1);

// SIZES

$mainContainer: 1982px;

$cardWidth: 250px;
$cardHight: 325px;

$imageSize: 225px;

$logoSize: 70px;

// BORDERS

$borderGray: 2px solid rgba(242, 242, 242, 1);
$borderBlue: 2px solid rgba(139, 199, 255, 1);
//  WIDGET --
