@import '@style/_normalize.scss';
@import '@style/_variables.scss';

* {
  @include normalize;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  max-width: $mainContainer;

  margin: 0 auto;

  display: flex;
}

.left {
  width: 70vw;
  padding: 55px 60px 55px 50px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.right {
  position: relative;
  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  color: rgba(255, 255, 255, 1);
  background-color: $bluePrimary;

  z-index: -5;

  .bg_icon_1 {
    position: absolute;
    top: 120px;
    right: -80px;
    z-index: -1;
  }
  .bg_icon_2 {
    position: absolute;

    top: 190px;
    left: -60px;
    z-index: -1;
  }
  .bg_icon_3 {
    position: absolute;

    bottom: 100px;
    right: 10px;
    z-index: -1;
  }
  .bg_icon_4 {
    position: absolute;

    bottom: 20px;
    left: -120px;
    z-index: -1;
  }

  .container {
    height: 50%;
  }
}

@media screen and (max-width: 1700px) {
  .left {
    padding: 20px;
    gap: 30px;
  }
}
