@import '@style/_normalize.scss';
@import '@style/_variables.scss';

* {
  @include normalize;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  max-width: $mainContainer;

  margin: 0 auto;

  display: flex;
}

.left {
  width: 70vw;
  padding: 55px 60px 55px 50px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.right {
  position: relative;
  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;

  color: rgba(255, 255, 255, 1);
  background-color: $bluePrimary;
}

@media screen and (max-width: 1700px) {
  .left {
    padding: 20px;
    gap: 30px;
  }
}
