@import '@style/_variables.scss';

.title {
  margin: 12px 0;

  font-size: 12px;
  font-weight: 400;
  span {
    color: red;
  }
}

.select_city_label {
  padding: 12px;
  width: 100%;
  position: relative;

  border: $borderGray;
  border-radius: 2px;

  .select_city_img {
    position: absolute;
    right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  .select_city_input {
    width: 100%;
    background-color: transparent;
  }
}
