@import '@style/_variables.scss';

.title {
  margin: 12px 0;

  font-size: 12px;
  font-weight: 400;

  position: absolute;
  top: -40px;
  left: 0;

  &::before {
    content: '* ';
    color: $errorSecondary;
  }
}

.select_city_label {
  padding: 12px;
  width: 100%;
  position: relative;

  border: $borderGray;
  border-radius: 2px;

  &::after {
    content: attr(data-error);
    position: absolute;

    bottom: -25px;
    left: 30%;
    font-size: 14px;
    color: $errorSecondary;
  }

  .select_btn {
    position: absolute;
    right: 12px;
    top: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .select_city_input {
    width: 100%;
    background-color: transparent;
  }
}
