@import '@style/_variables.scss';

.container {
  position: relative;
}

.title {
  margin: 12px 0;

  font-size: 12px;
  font-weight: 400;

  position: absolute;
  top: -40px;
  left: 0;

  &::before {
    content: '* ';
    color: $errorSecondary;
  }
}

.label {
  display: flex;

  &::after {
    content: attr(data-error);
    position: absolute;

    bottom: -25px;
    left: 30%;
    font-size: 14px;
    color: $errorSecondary;
  }

  .input {
    width: 100%;
    background-color: transparent;
    padding: 12px;
    border: $borderGray;
    border-radius: 2px;

    &:focus {
      border: $borderBlue;
    }
  }

  .btn {
    position: absolute;
    right: 6px;
    top: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}
