@import '@style/_variables.scss';

.trips_card {
  width: $cardWidth;
  height: $cardHight;

  .trips_image {
    width: 100%;
    height: $imageSize;

    object-fit: cover;
    object-position: 50% 60%;
  }

  h5 {
    margin: 27px 25px 20px 25px;
    font-weight: 500;
    font-size: 14px;
  }

  p {
    margin-left: 25px;
    color: $graySecondary;

    font-size: 12px;
  }
}

.card_btn {
  text-align: start;
  background-color: transparent;
  border: $borderGray;

  margin-bottom: 10px;

  &:focus {
    border: $borderBlue;
  }

  &:hover {
    cursor: pointer;
    border: $borderBlue;
  }
}

.card_btn_active {
  text-align: start;
  background-color: transparent;
  border: $borderBlue;

  margin-bottom: 10px;

  box-shadow: 0px 3px 5px 1px rgba(0, 0, 255, 0.2);
}
